 .container {
    height:945px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.h1 {
    display: flex;
    color:navy;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 30px;
    width:70%;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    width: 80%;

}
.card {
    background-color:#189bed88;
    width: 450px;
   height:600px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    border-radius: 2%;
    border: 2px solid rgba(135, 207, 235, 0.889);
}

.input-container{
    position: relative;

    display: flex;
    flex-direction:column;
    width: 60%;
    justify-content: center;
    align-items: center;
}
#location{
    display: flex;
    height: 40px;
    width: 85%;
    text-align: center;
    font-size: 20px;
    outline: none;
    border: none;
    background-color:aliceblue;
    color: rgb(24, 72, 115);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);


}
#location:hover{
    border: 2px solid skyblue;
}
.button{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}
#searchControl{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90%;
    border: none;
    outline: none;
    background-color:rgba(39, 39, 141, 0.859);
    color: white;
    font-size: 20px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
    border-radius:25px;
}
#searchControl:hover{
    background-color:rgba(16, 55, 69, 0.731);
}
    .location-suggestions {
        position: absolute;
        width: 85%;
        background-color: white;
        border: 1px solid #ccc;
        max-height: 150px;
        overflow-y: auto;
        z-index: 1;
        top:70px;
        border-radius: 15px;
        text-indent: 2px;
        background-color: aliceblue;
    color: rgb(24, 72, 115);

    }
.location-suggestions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.selected {
    background-color: lightgray;
  }
  #weather-image {
    object-fit: cover;
    width: 100%;
    max-height: 250px;
    border-radius: 2% 2% 0 0;
}
.image {
    height: 40px;
    width: 40px;
}

.date{
    text-align: center;
    color: rgb(29, 70, 86);
}
.weatherData{
    display: flex;
    flex-direction: column;
    height: 310px;
}
#weather-description{
    display: flex;
    flex-direction: row;
    height: 90px;
    justify-content: space-around;
    border-bottom: 2px solid rgba(135, 207, 235, 0.361);
}
.location{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(24, 72, 115);
}
.temp{
    display: flex;
    flex-direction:row;
    height: 75px;
    justify-content: space-around;
    align-items: center;
}
.tempp{
    display: flex;
    gap: 5px;
}
.span{
    font-size: 30px;
}
.windspeed{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 65px;
}
.over{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}
.timezone{
    color:rgba(0, 0, 128, 0.674);
}
.over-time{
    color:rgba(16, 55, 69, 0.731);
}
.p{
    color: navy;
    font-size: 20px;
    font-weight: bold;
}

  
@media(max-width:600px){

    .container {
        height:945px;
        width: 58%;
        display: flex;
        flex-direction: column;
        background-color: rgba(240, 248, 255, 0.228);
        gap: 10px;
    }
    
   .card {
        background-color:rgba(24, 155, 237, 0.095);
        
        width: 450px;
       height:600px;
        box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
        transition: 0.3s;
        border-radius: 2%;
        border: 2px solid rgba(135, 207, 235, 0.889);
    }
}