.container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}
.right-container {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
}
.route-link {
    display: flex;
    height:0.1fr;
    width: 100%;
    justify-content:center;
    align-items: center;
    border-bottom: 4px solid rgba(255, 255, 255, 0.081);
    background-color:rgba(135, 207, 235, 0.263);
}
.route-link-align {
    display: flex;
    width: 80%;
    margin: auto;
    gap:30px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: navy;
    padding: 10px;
}
a:hover {
    background-color: rgba(0, 0, 128, 0.4);
}
.display-component {
    display: flex;
    height: 100%;
    width: 100%;
}
@media(max-width:600px) {
    .container {
        display: grid;
        grid-template-rows: 0.5fr 1fr;
        grid-template-columns: 1fr;
    }
    .right-container {
        display: grid;
        grid-template-rows: 0.1fr 1fr;
        width:460px;
    }
    .route-link {
        display: flex;
        height:0.1fr;
        width: 455px;
        background-color: rgba(135, 207, 235, 0.818);
    }
    .route-link-align {
        display: flex;
        width: 440px;
        gap:7px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .left-container{
        display: grid;
        grid-template-columns: 1fr;
        width: 450px;
    }
    .display-component {
        display: flex;
        height: 100%;
        width: 100%;
    }
} 