.container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}
.right-container {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
}
.route-link {
    display: flex;
    height:0.1fr;
    width: 100%;
    justify-content:center;
    align-items: center;
    border-bottom: 4px solid rgba(255, 255, 255, 0.081);
    background-color:rgba(135, 207, 235, 0.263);
}
.route-link-align {
    display: flex;
    width: 80%;
    margin: auto;
    gap:30px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: navy;
    padding: 10px;
}
a:hover {
    background-color: rgba(0, 0, 128, 0.4);
}
.display-component {
    display: flex;
    height: 100%;
    width: 100%;
}
@media(max-width:600px) {
    .container {
        display: grid;
        grid-template-rows: 0.5fr 1fr;
        grid-template-columns: 1fr;
        overflow: hidden;
        border: 2px solid red;
    }
    .right-container {
        display: grid;
        grid-template-rows: 0.1fr 1fr;
    }
    .route-link {
        display: flex;
        height:0.1fr;
        width: 58%;
        background-color:rgba(104, 209, 251, 0.47);
        justify-content:center;
        align-items: center;
        border-bottom: 2px solid rgba(255, 255, 255, 0.081);
    }
    .route-link-align {
        display: flex;
        width: 95%;
        gap:10px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
} 