<div class="container">
  <div class="left-container">
    <app-forecast></app-forecast>
  </div>
  <div class="right-container">
    <div class="route-link">
      <div class="route-link-align">
        <a routerLink="/weather">Week</a>
        <a routerLink="/map">Map</a>
        <a routerLink="/chart">Chart</a>
        <a routerLink="/fourteen">14-days</a>
        <a routerLink="/More">More-Detail</a>
      </div>
    </div>
    <div class="display-component">
      <router-outlet></router-outlet>
    </div>
  </div> 
</div>