<div class="more-detail">
    <h1 class="more">Weather Details</h1>
    <div class="detail-box">
        <div class="more-detail-box">
            <p>Max-Temperature : <span>{{temperatureData?.daily?.temperature_2m_max}} °C</span></p>
            <p>Min-Temperature : <span>{{temperatureData?.daily?.temperature_2m_min}} °C</span></p>
            <p>Precipitation : <span>{{temperatureData?.daily?.precipitation_sum}} mm </span></p>
            <p>Latitude : <span>{{temperatureData?.latitude}} N</span></p>
            <p>Longitude : <span>{{temperatureData?.longitude}} E</span></p>
            <p>WindDirection :  <span >{{temperatureData?.current_weather?.winddirection}}</span></p>
            <p>Rain : <span> {{temperatureData?.hourly?.rain[0]}} </span> </p>  
            <p>Uv Index : <span>{{temperatureData?.daily?.uv_index_max[0]}}</span></p>
            <p>ClearSky : <span>{{temperatureData?.daily?.uv_index_clear_sky_max }}</span></p>
            <p> Sunrise : <span>{{ formatTime(temperatureData?.daily?.sunrise[0]) }}</span></p> 
            <p> Sunset : <span> {{ formatTime(temperatureData?.daily?.sunset[0]) }}</span></p>
            <p> elevation : <span> {{temperatureData?.elevation}}</span></p>
        </div>
    </div>
 </div>
          