.more-detail {
    display: flex;
    height:750px;
    width:900px;
    position: relative;
    left: 150px;
    top:50px;
    flex-direction: column;
}
.more {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: navy;
}
.detail-box {
    display: flex;
    flex-direction: row;
    height: 600px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.more-detail-box {
    display: flex;
    flex-direction:column;
    background-color: rgba(240, 248, 255, 0.391);
    width: 75%;
    height:95%;
    box-shadow: 5px 6px 10px 0 rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 50px;
    gap: 20px;
    position: relative;
    left: 70px;
}
p {
    font-size: 20px;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
span {
    color:navy;
}
@media(max-width:600px){
    .more-detail{
        display: flex;
        height:750px;
        width:1000px;
        position: relative;
        left: 10px;
    }
    .more{
        display: flex;
        height: 50px;
        position: relative;
        left: -200px;
    }
    .more-detail-box{
        display: flex;
        width: 50%;
        height:95%;
        position: relative;
        left: -220px;
    }
}